/*estilos heredables al documento*/
body {
	background: #0c68c1;
	margin: 0 auto;
	font-family: helvetica;
}
/*estilos de la barra de navegacion*/
nav {
	background: #0a59a4;
	padding: 2px;
}
.list1 {
	list-style: none;
	padding-left: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.list1 li {
	display: inline-block;
	color: #fff;
}
.firstList {
	display: inline-block;
	background: #669dcb;
	margin-left: 5px;
	padding: 3px 10px;
	vertical-align: super;
}

.secondList {
	display: inline-block;
	background: #669dcb;
	vertical-align: super;
}
.secondList input {
	background: transparent;
	border: none;
	padding: 5px 10px;
}
.fa-search {
	padding-right: 5px;
}

.thirdList {
	display: inline-block;
	padding-left: 20em;

}
.thirdList li {
	color: #ccdeed;
	font-size: 2em;
}
.thirdList li em {
	font-weight: bold;
}

.fourthList {
	display: inline-block;
	float: right;
	padding-right: 3em;
	padding-top: 0.3em;
}
.fa-plus, .fa-info, .fa-bell-o {
	background: #669dcb;
	padding: 3px 5px;
}
.fa-info {
	margin: 0 1em;
	padding: 3px 8px;
}

.list2 {
	list-style: none;
	color: #fff;
	font-size: 1em;
	font-weight: bold;
	padding-left: 20px;
}
.list2 li {
	display: inline-block;
}
.fa-star-o {
	padding-left: 10px;
}
.line {
	padding-left: 10px;
}
.fa-lock {
	padding-left: 3px;
	padding-right: 0;
}

.fa-ellipsis-h {
	vertical-align: middle;
}
.menu {
	display: inline-block;
	float: right;
	margin-right: 20px;
}
.small {
	font-size: 0.8em;
	padding: 0 10px;
}

/*estilos boton anadir una lista*/
.azul {
	background: #0a59a4;
	margin-left: 20px;
	border: none;
	border-radius: 2px;
	padding: 10px 35px;
	color: #fff;
	font-size: 1em;
	cursor: pointer;
}
.azul:hover {
	background: #084987;
}
/*estilo del div con el primer input*/
.firstDiv {
	display: inline-block;
	background: #e1e3e6;
	margin-left: 10px;
	border-radius: 2px;
}

.input1 {
	background: #d6d7da;
	display: block;
	border: 1px solid #b1b1b2;
	padding: 10px;
	margin: 5px;
	margin-bottom: 0;
	border-radius: 2px;
}

.saveButton {
	margin: 5px;
	border: none;
	border-radius: 2px;
	background: #17a639;
	color: #fff;
	font-weight: bolder;
	padding: 7px 15px;
}

.fa-times {
	color: #4e4e4e;
	margin-left: 70px;
}

/*estilos de la lista*/
.cardBox {
	background: #d6d7da;
	display: inline-block;
	border-radius: 2px;
	vertical-align: top;
	margin-left: 20px;
}
.cardBox h6 {
	margin: 3px;
	font-size: .9em;
	display: block;
	padding-bottom: 5px;
}
.ancCard {
	font-size: 15px;
    margin-left: 2px;
    text-decoration: none;
    color: gray;
    display: block;
    padding-bottom: 5px;
}
.ancCard:hover {
	text-decoration: underline;
	color: #4e4e4e;
}

/*estilos del div teaxtarea*/
.tAspace {
	background: #d6d7da;
	display: inline-block;
	border-radius: 2px;
	vertical-align: top;
}
.tAtitle {
	margin: 5px;
	font-size: .9em;
}
.mainTxtA {
	display: block;
	margin: 5px;

	padding: 0;
	border-radius: 2px;
	border: none;
}
.addButton {
	margin: 5px;
	padding: 0px;
	border: none;
    border-radius: 2px;
    background: #17a639;
    color: #fff;
    font-weight: bolder;
	padding: 7px 15px;
}
.ofSpan {
	background: #fff;
	margin: 5px;
	padding: 2px 0px;
	border-radius: 2px;
}
.ofSpan:hover {
	background: #eceff0;
}
.ofSpan p {
	margin: 3px;
}
